<html>
  <head>
    <title><%= @path %></title>
  </head>
  <body>
    <center>
      <h1>Hello from Lunetas!</h1>
      <h4><%= @message %></h4>
      <img src="/lunetas.jpg" alt="lunetas" />
    </center>
  </body>
</html>
